@model Lab5.Models.Domain.Order
@{
    ViewData["Title"] = "Detail";
}
<div>
    <hr />
    <div class="row">
        <div class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.OrderId)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.OrderId)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CusName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CusName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model =>
                    model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model =>
                    model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model =>
                    model.Phone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model =>
                    model.Phone)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Product Name</td>
                    <td>Product Image</td>
                    <td>Product Quantity</td>
                    <td>Product Price</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Order != null)
                {
                    int i = 1;
                    @foreach (var item in ViewBag.Order)
                    {
                        <tr>

                            <td>@(i++)</td>
                            <td>@item.Product.ProductName</td>
                            <td><img src="~/images/@item.Product.ProductImage" class="img-thumbnail" width="100px" height="100px" alt="iphone11promax" /></td>
                            <td>@item.Quantity</td>
                            <td>@item.Product.ProductPrice</td>
                            <td>@(item.Quantity * @item.Product.ProductPrice)</td>
                        </tr>
                    }
                }
            </tbody>
            <tr>
                <td align="right" colspan="6">Total:</td>
                <td>@ViewBag.Total</td>
            </tr>
            
        </table>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="index">Back to List</a>
</div>
