@model Lab5.Models.Domain.Product
@{
    ViewData["Title"] = "Index";
}
<div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductName)

                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model =>
                    model.Descriptions)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model =>
                    model.Descriptions)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model =>
                    model.Category.CategoryName)
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.Category
                </dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <img src="~/images/@Model.ProductImage"
                 width="100" height="100" alt="image" />
        </div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="index">Back to List</a>
</div>


